* {
    padding: 0;
    margin: 0;
}

/* Styling for general body of HTML. Using flex
display to align header and main content in one column */
body {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-image:url(https://wallpapertag.com/wallpaper/full/7/2/8/118913-full-size-white-wood-background-1920x1080.jpg);
    font-family: 'Playfair Display';
}

/* Styling for header. Using flex display to
center the text both horizontally and vertically */
header {
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

/* Styling for numFavorites div of header */
.numFavorites {
    font-size: 50%;
    font-style: italic;
}

/* Styling for main section of body */
main {
    display: flex;
}

/* Styling for sort drop down div */
.sortDropDown {
    margin-left: 1em;
    margin-top: 3em;
    position: fixed;
}

/* Styling for sort by div */
.sortBy {
    width: 10em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 2px dotted ghostwhite;
    border-radius: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Styling for sort by hover */
.sortBy:hover {
    background-color: lightgray;
}

/* Styling for the "shelf" of books. Using flex 
display to wrap items according to width of viewport*/
ul {
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    margin-left: 12em;
    margin-right: 5em;
    max-width: 80vw;
}

/* Styling for each book. */
li {
    list-style-type: none;
    display: inline;
    width: 5em;
    height: 20em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 10px;
}

/* Styling for title section of each book. Using
overflow-wrap to break any parts of a word that's
overflowing and continue in next line. Also
hiding any overflow of titles that exceed the set
height of the title section with overflow: hidden */
h2 {
    height: 14.55em;
    font-size: 1em;
    overflow-wrap: break-word;
    overflow: hidden;
}

/* Styling for author section */
h5 {
    height: 5em;
    font-size: 0.5em;
    padding-right: 0.2em;
    padding-top: 0.2em;
}

/* Styling for like/unlike buttons */
.favButton {
    position: relative;
    top: 1em;
    font-family: cambria;
    font-weight: bold;
    background-color: gainsboro;
    width: 100%;
    border-radius: 5em;
    border: 2px solid ghostwhite;
}

/* Using nth-child() selector to set 7 different 
colors for books depending on its position */
li:nth-child(n+0) {
    background-color:rosybrown;
}

li:nth-child(2n+0) {
    background-color: lightslategray;
}

li:nth-child(3n+0) {
    background-color:olivedrab;
}

li:nth-child(4n+0) {
    background-color: lightblue;
}

li:nth-child(5n+0) {
    background-color: darksalmon;
}

li:nth-child(6n+0) {
    background-color: burlywood;
}

li:nth-child(7n+0) {
    background-color: gainsboro;
}