* {
    padding: 0;
    margin: 0;
}

/* Styling for general body of HTML. Using flex
display to align header and main content in one column. */
body {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-image:url(https://wallpapertag.com/wallpaper/full/7/2/8/118913-full-size-white-wood-background-1920x1080.jpg);
    font-family: 'Playfair Display';
}

/* Styling for header. Using flex display to
center the text both horizontally and vertically. */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vmax;
    padding-top: 3vh;
}

/* Styling for main section of body. */
main {
    display: flex;
}

/* Styling for footer section of body. */
footer {
    height: 5em;
    margin-top: 2em;
    font-weight: bold;
    padding-top: 3em;
}

/* Styling for add book section. */
#addBookSection {
    padding: 0.5em;
    margin-bottom: 0.25em;
}

/* Styling for Add Book heading */
#addBookHeading {
    font-size: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Styling for user input section to add books. */
#inputFields {
    display: flex;
    flex-flow: wrap;
}

/* Styling for all child elements to add book section. */
.addBookFieldItem {
    margin: 0.5em;
    border:2px solid black;
    background-color: snow;
    font-family: Cambria, Cochin;
}

/* Styling for add book button. */
#addBookButton {
    padding: 0.25em 0.75em;
    font-weight: bold;
    font-family: 'Playfair Display';
}

/* Styling for add book alert message. */
#addBookAlert {
    text-align: center;
    font-size: 0.3em;
    padding-top: 1em;
    color:brown;
    font-weight: bold;
}

/* Styling for main left section. */
#mainLeft {
    margin-left: 1em;
    position: fixed;
}

/* Styling for numFavorites div. */
#numFavorites {
    width: 8.25em;
    height: 2em;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Styling for navigation bar divs. */
.navItem {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.navItem:hover {
    background-color: whitesmoke;
}

/* Styling for navigation links. */
a {
    color: black;
    width: 10em;
    text-align: center;
    font-weight: bold;
    border: 2px dotted ghostwhite;
    border-radius: 5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: lightgray;
    opacity: 0.8;
}

a:link {
    text-decoration: none;
}

/* Styling for sort by div. */
#sortBy {
    width: 10em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 2px dotted ghostwhite;
    border-radius: 5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: lightgray;
    opacity: 0.8;
}

/* Styling for the "shelf" of books. Using flex 
display to wrap items according to width of viewport. */
#bookList {
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    margin-left: 12em;
    margin-right: 5em;
    max-width: 80vw;
}

/* Styling for each book. */
.bookDOM {
    list-style-type: none;
    display: inline;
    width: 5em;
    height: 20em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
}

/* Styling for title section of each book. Using
overflow-wrap to break any parts of a word that's
overflowing and continue in next line. Also
hiding any overflow of titles that exceed the set
height of the title section with overflow: hidden. */
h2 {
    height: 14.55em;
    font-size: 1em;
    overflow-wrap: break-word;
    overflow: hidden;
}

/* Styling for author sections. */
h5 {
    height: 5em;
    font-size: 0.5em;
    padding-right: 0.2em;
    padding-top: 0.2em;
}

/* Styling for like/unlike buttons. */
.favButton {
    font-family: cambria;
    font-weight: bold;
    background-color: gainsboro;
    width: 100%;
    border-radius: 5em;
    border: 2px solid ghostwhite;
}

/* Styling for comment button. */
.commentButton {
    font-family: cambria;
    font-weight: bold;
    background-color: gainsboro;
    width: 100%;
    border-radius: 5em;
    border: 2px solid ghostwhite;
}

/* Styling for comment box. */
.commentBox {
    border: 2px dotted black;
    font-family: Cambria, Cochin;
    background-color: snow;
}

/* Styling for comment submit button. */
.submitButton {
    padding: 0.1em 0.25em;
    font-weight: bold;
}

/* Styling for book info div. */
.bookInfo {
    border: 1px solid black;
    background-color: antiquewhite;
    font-family: Cambria, Cochin;
    font-size: 0.85em;
    max-width: 10em;
    height: 15em;
    padding: 0.5em;
    margin-top: 2.5em;
    overflow-y: scroll;
}

p {
    padding: 0.5em;
}

/* Using nth-child() selector to set 7 different 
colors for books depending on its position. */
.bookDOM:nth-child(n+0) {
    background-color:rosybrown;
}

.bookDOM:nth-child(2n+0) {
    background-color: lightslategray;
}

.bookDOM:nth-child(3n+0) {
    background-color:olivedrab;
}

.bookDOM:nth-child(4n+0) {
    background-color: lightblue;
}

.bookDOM:nth-child(5n+0) {
    background-color: darksalmon;
}

.bookDOM:nth-child(6n+0) {
    background-color: burlywood;
}

.bookDOM:nth-child(7n+0) {
    background-color: gainsboro;
}