* {
    padding: 0;
    margin: 0;
}

/* Styling for general body of HTML. Using flex
display to align header and main content in one column */
body {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-image:url(https://wallpapertag.com/wallpaper/full/7/2/8/118913-full-size-white-wood-background-1920x1080.jpg);
    font-family: 'Playfair Display';
}

/* Styling for header. Using flex display to
center the text both horizontally and vertically */
header {
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

/* Styling for the "shelf" of books. Using flex 
display to wrap items according to width of viewport*/
ul {
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    margin-left: 10em;
    margin-right: 10em;
    max-width: 80vw;
}

/* Styling for each book. */
li {
    list-style-type: none;
    display: inline;
    width: 5em;
    height: 20em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 10px;
}

/* Styling for title section of each book. Using
overflow-wrap to break any parts of a word that's
overflowing and continue in next line. Also
hiding any overflow of titles that exceed the set
height of the title section with overflow: hidden */
h2 {
    height: 15.95em;
    font-size: 1em;
    overflow-wrap: break-word;
    overflow: hidden;
}

/* Styling for author section */
h5 {
    font-size: 0.5em;
    padding-right: 0.2em;
}

/* Using nth-child() selector to set 7 different 
colors for books depending on its position */
li:nth-child(n+0) {
    background-color:rosybrown;
}

li:nth-child(2n+0) {
    background-color: lightslategray;
}

li:nth-child(3n+0) {
    background-color:olivedrab;
}

li:nth-child(4n+0) {
    background-color: lightblue;
}

li:nth-child(5n+0) {
    background-color: darksalmon;
}

li:nth-child(6n+0) {
    background-color: burlywood;
}

li:nth-child(7n+0) {
    background-color: gainsboro;
}